<app-header [showBackButton]="true" [logado]="false"></app-header>
<div class="buttons">
  <button (click)="registerUserWithGoogle()" class="google">Cadastrar com Google</button>
</div>
<form class="form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
      placeholder="Ex. example@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.valid">
      Por favor entre com um endereço de e-mail válido
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      E-mail é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder="João da Silva">
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Nome é <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input autocomplete="off" maxlength="11" matInput [formControl]="documentFormControl" [errorStateMatcher]="matcher"
      placeholder="123456789-10">
    <mat-error *ngIf="documentFormControl.hasError('required')">
      CPF é <strong>obrigatório</strong>
    </mat-error>
    <mat-error *ngIf="documentFormControl.value && !documentFormControl.valid">
      CPF é <strong>inválido</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl"
      [errorStateMatcher]="matcher">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="!passwordFormControl.hasError('required') && !passwordFormControl.valid">
      Por favor entre com uma senha válida, com no mínimo 8 dígitos
    </mat-error>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Senha é <strong>obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Confirmar Senha</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" [formControl]="confirmPasswordFormControl"
      [errorStateMatcher]="matcher">
    <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirm">
      <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error
      *ngIf="!confirmPasswordFormControl.hasError('required') && !confirmPasswordFormControl.valid && confirmPasswordFormControl.hasError('invalidMatchPassword')">
      Por favor entre com a mesma senha digitada no campo senha
    </mat-error>
    <mat-error *ngIf="confirmPasswordFormControl.hasError('required')">
      Confirmação da Senha é <strong>obrigatória</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>País</mat-label>
    <input matInput [formControl]="countryFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Estado</mat-label>
    <input matInput [formControl]="stateFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cidade</mat-label>
    <input matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CEP</mat-label>
    <input matInput [formControl]="cepFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Bairro</mat-label>
    <input matInput [formControl]="neighborhoodFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rua</mat-label>
    <input matInput [formControl]="streetFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Número</mat-label>
    <input matInput type="number" [formControl]="numberFormControl" [errorStateMatcher]="matcher">
  </mat-form-field>
  <button class="button submit" type="submit">Criar Conta</button>
</form>