.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  button {
    width: 50%;
    margin-bottom: 10px;
    border: none;
    min-height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
  }
  .facebook {
    background: #3b5998;
  }
  .google {
    background: #db4a39;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  mat-form-field {
    width: 80%;
  }
  .submit {
    background-color: #044404;
    color: #FFFFFF;
    border: none;
    min-height: 30px;
    border-radius: 10px;
    min-width: 100px;
  }
}