<app-header [logado]="false"></app-header>
<div class="content">

  <form class="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. example@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.valid">
        Por favor entre com um endereço de e-mail válido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        E-mail é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl"
        [errorStateMatcher]="matcher">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="!passwordFormControl.hasError('required') && !passwordFormControl.valid">
        Por favor entre com uma senha válida, com no mínimo 8 dígitos
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Senha é <strong>obrigatória</strong>
      </mat-error>
    </mat-form-field>
    <button class="button submit" type="submit">Entrar</button>
    <a routerLink="register">Criar uma conta</a>
  </form>
  <div class="buttons">
    <button (click)="loginWithGoogle()" class="google">Entrar com Google</button>
  </div>
</div>