.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button {
    width: 50%;
    margin-bottom: 10px;
    border: none;
    min-height: 30px;
    color: #FFFFFF;
    border-radius: 10px;
  }
  .google {
    background: #db4a39;
  }
}