<header [ngClass]="(showBackButton ? 'showBackButton': '')">
    <div class="backbutton" *ngIf="showBackButton">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div class="title" [ngClass]="(logado ? 'logado': '')">
        <span *ngIf="!logado">AURA</span>
        <app-menu *ngIf="logado"></app-menu>
    </div>
    <div class="backbutton" *ngIf="showBackButton"></div>
</header>