header {
    background: green;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    .title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            color: #fff;
            font-size: 20px;
        }
        &.logado {
            justify-content: start !important;
        }
    }
    &.showBackButton {
        .title {
            width: 90%;
        }
    }
    .backbutton {
        color: #ffffff;
        width: 10%;
        // margin-right: 10px;
    }
}
