<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="mat-elevation-z8 content">
  <div class="post">
    <button mat-button (click)="openPost = !openPost">Novo Evento</button>
  </div>
  <form *ngIf="openPost || openEdit" class="form">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput [formControl]="titleFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Título é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data de Início</mat-label>
      <input matInput [matDatepicker]="pickerStart" [formControl]="startFormControl" [errorStateMatcher]="matcher">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-error *ngIf="startFormControl.hasError('required')">
        Data de Início é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data de Término</mat-label>
      <input matInput [matDatepicker]="pickerEnd" [formControl]="endFormControl" [errorStateMatcher]="matcher">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <mat-error *ngIf="endFormControl.hasError('required')">
        Data de Término é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput [formControl]="descriptionFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        Descrição é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <button *ngIf="openPost" class="submit" type="submit" (click)="post()">Adicionar</button>
    <button *ngIf="openEdit" class="submit" type="submit" (click)="update()">Alterar</button>
  </form>

  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'eventos'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter mat-table [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Título </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Título"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="start">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Início </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Início"> {{element.start}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="end">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Fim </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Fim"> {{element.end}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Descrição"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openFormUpdate(element)">create</span>
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>