.home {
    display: inline-block;
    align-items: center;
    .grafico {
        margin-bottom: 30px;
        border: 1px solid black;
        h3 {
            color: #000000;
            margin-bottom: 10px;
            margin-left: 15px;
        }
        .chart {
            min-width: 350px;
            min-height: 350px;
            display: flex;
            align-items: center;
            justify-content: start;
        }
    }
    .sem-dados {
        h4 {
            padding: 10px;
        }
    }
}
