<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>


<div class="home">
    <div class="grafico" *ngIf="chartdataLucroMensal && chartdataLucroMensal.length">
        <h3>Gráfico lucro mensal (ano atual)</h3>
        <div class="chart">
            <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="chartView"
                [results]="chartdataLucroMensal" [xAxisLabel]="" [legendTitle]="" [yAxisLabel]="" [legend]="false"
                [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [gradient]="false">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="sem-dados" *ngIf="chartdataLucroMensal && !chartdataLucroMensal.length">
        <h4>Não existem dados de lucro mensal a serem exibidos em gráfico no momento.</h4>
    </div>

    <div class="grafico" *ngIf="chartdataVendas && chartdataVendas.length">
        <h3>Gráfico vendas mensal (ano atual)</h3>
        <div class="chart">
            <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="chartView" [results]="chartdataVendas"
                [xAxisLabel]="" [legendTitle]="" [yAxisLabel]="" [legend]="false" [showXAxisLabel]="false"
                [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="false">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="sem-dados" *ngIf="chartdataVendas && !chartdataVendas.length">
        <h4>Não existem dados de vendas a serem exibidos em gráfico no momento.</h4>
    </div>

    <div class="grafico" *ngIf="chartdataDepesas && chartdataDepesas.length">
        <h3>Gráfico despesas mensal (ano atual)</h3>
        <div class="chart">
            <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="chartView" [results]="chartdataDepesas"
                [xAxisLabel]="" [legendTitle]="" [yAxisLabel]="" [legend]="false" [showXAxisLabel]="true"
                [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true" [gradient]="false">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="sem-dados" *ngIf="chartdataDepesas && !chartdataDepesas.length">
        <h4>Não existem dados de despesas a serem exibidos em gráfico no momento.</h4>
    </div>

    <div class="grafico" *ngIf="chartdataEventos && chartdataEventos.length">
        <h3>Gráfico quantidade eventos por mês (ano atual)</h3>
        <div class="chart">
            <ngx-charts-bar-vertical [view]="chartView" [results]="chartdataEventos" [xAxisLabel]="" [legendTitle]=""
                [yAxisLabel]="" [legend]="false" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxis]="true"
                [yAxis]="true" [gradient]="false">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="sem-dados" *ngIf="chartdataEventos && !chartdataEventos.length">
        <h4>Não existem dados de eventos a serem exibidos em gráfico no momento.</h4>
    </div>


    <div class="grafico" *ngIf="chartdataProdutos && chartdataProdutos.length">
        <h3>Gráfico Produtos com menores quantidades em estoque</h3>
        <div class="chart">
            <ngx-charts-bar-vertical (window:resize)="onResize($event)" [view]="chartView" [results]="chartdataProdutos"
                [xAxisLabel]="" [legendTitle]="" [yAxisLabel]="" [legend]="false" [showXAxisLabel]="false"
                [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true" [gradient]="false">
            </ngx-charts-bar-vertical>
        </div>
    </div>
    <div class="sem-dados" *ngIf="chartdataProdutos && !chartdataProdutos.length">
        <h4>Não existem dados de produtos a serem exibidos em gráfico no momento.</h4>
    </div>
</div>