<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="mat-elevation-z8 content">
  <div class="post">
    <button mat-button (click)="openPost = !openPost">Novo Fornecedor</button>
  </div>
  <form *ngIf="openPost || openEdit" class="form">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Telefone</mat-label>
      <input matInput [formControl]="phoneFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Telefone é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input autocomplete="off" maxlength="11" matInput [formControl]="documentFormControl"
        [errorStateMatcher]="matcher" placeholder="123456789-10">
      <mat-error *ngIf="documentFormControl.value && !documentFormControl.valid">
        CPF é <strong>inválido</strong>
      </mat-error>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        CPF é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>País</mat-label>
      <input matInput [formControl]="countryFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input matInput [formControl]="stateFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput [formControl]="cepFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput [formControl]="neighborhoodFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua</mat-label>
      <input matInput [formControl]="streetFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número</mat-label>
      <input matInput type="number" [formControl]="numberFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <button *ngIf="openPost" class="submit" type="submit" (click)="post()">Adicionar</button>
    <button *ngIf="openEdit" class="submit" type="submit" (click)="update()">Alterar</button>
  </form>

  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'fornecedores'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter mat-table [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nome"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="document">
      <mat-header-cell mat-header-cell *matHeaderCellDef> CPF </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="CPF"> {{element.document}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Telefone"> {{element.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openFormUpdate(element)">create</span>
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>