<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="table-responsive mat-elevation-z8 content">
  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'usuarios'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nome"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-mail </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="E-mail"> {{element.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="document">
      <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="CPF"> {{element.document}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tipo"> {{element.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>