<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="mat-elevation-z8 content">
  <div class="post">
    <button mat-button (click)="openPost = !openPost">Nova Venda</button>
  </div>
  <form *ngIf="openPost || openEdit" class="form">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <input matInput [formControl]="descriptionFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        Descrição é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="pickerStart" [formControl]="dateFormControl" [errorStateMatcher]="matcher">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-error *ngIf="dateFormControl.hasError('required')">
        Data é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select [formControl]="clientFormControl" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let client of clients" [value]="client.id">
          {{client.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [formControl]="statusFormControl" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let item of status" [value]="item.id">
          {{item.title}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="statusFormControl.hasError('required')">
        Status é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor</mat-label>
      <input matInput type="number" [formControl]="valueFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="valueFormControl.hasError('required')">
        Valor é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-selection-list [(ngModel)]="selectedProducts" [formControl]="productFormControl" [errorStateMatcher]="matcher">
      <mat-label>Produtos</mat-label>
      <mat-list-option *ngFor="let product of products" [value]="product.id">
        {{product.name }} - R$ {{product.saleValue}}
      </mat-list-option>
      <mat-error *ngIf="productFormControl.hasError('required')">
        Produto é <strong>obrigatório</strong>
      </mat-error>
    </mat-selection-list>

    <button *ngIf="openPost" class="submit" type="submit" (click)="post()">Adicionar</button>
    <button *ngIf="openEdit" class="submit" type="submit" (click)="update()">Alterar</button>
  </form>

  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'vendas'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter mat-table [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nome"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="value">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Valor Total </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Valor Total"> {{element.value}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="date">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Data"> {{element.date}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Descrição </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Descrição"> {{element.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openFormUpdate(element)">create</span>
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>