.content {
  .action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      margin: 10px;
      background-color: #1500c3;
      color: #FFFFFF;
      border: none;
      min-height: 30px;
      border-radius: 10px;
      min-width: 100px;
      padding: 10px; 
    }
    .delete {
      background-color: #ff0000;
    }
  }
  .oneLine {
    display: flex;
  }
}