<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="content">
  <div class="action">
    <button *ngIf="!formEnable" class="button" (click)="changeForm('enable')">Alterar Usuário</button>
    <button class="button delete" (click)="openDialog()">Deletar Usuário</button>
  </div>
  <form class="form">
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
        placeholder="Ex. example@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.valid">
        Por favor entre com um endereço de e-mail válido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        E-mail é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder="João da Silva">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input autocomplete="off" matInput [formControl]="documentFormControl" [errorStateMatcher]="matcher"
        placeholder="123456789-10">
      <mat-error *ngIf="documentFormControl.hasError('required')">
        CPF é <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="documentFormControl.value && !documentFormControl.valid">
        CPF é <strong>inválido</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>País</mat-label>
      <input matInput [formControl]="countryFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input matInput [formControl]="stateFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput [formControl]="cityFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput [formControl]="cepFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput [formControl]="neighborhoodFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua</mat-label>
      <input matInput [formControl]="streetFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número</mat-label>
      <input matInput type="number" [formControl]="numberFormControl" [errorStateMatcher]="matcher">
    </mat-form-field>
    <div class="oneLine">
      <button *ngIf="formEnable" class="button submit" (click)="update()">Alterar</button>
      <button *ngIf="formEnable" class="button cancel" (click)="changeForm('disable')">Cancelar</button>
    </div>
  </form>

</div>