<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="white-icon" aria-hidden="false" aria-label="Menu">menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button *ngIf="isAdmin" mat-menu-item routerLink="/user">Usuários</button>
    <button *ngIf="isAdmin" mat-menu-item routerLink="/my-data">Meus Dados</button>
    <button *ngIf="isAdmin" mat-menu-item routerLink="/status">Status</button>
    <button *ngIf="!isAdmin" routerLink="/home" mat-menu-item>Início</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/my-data">Meus Dados</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/client">Clientes</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/reminder">Agenda</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/provider">Fornecedores</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/product">Produtos</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/sale">Vendas</button>
    <button *ngIf="!isAdmin" mat-menu-item routerLink="/expense">Despesas</button>
    <button mat-menu-item (click)="logout()">Sair</button>
</mat-menu>