<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="mat-elevation-z8 content">
  <div class="post">
    <button mat-button (click)="openPost = !openPost">Novo Produto</button>
  </div>
  <form *ngIf="openPost || openEdit" class="form">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput [formControl]="codeFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="codeFormControl.hasError('required')">
        Código é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor de Compra</mat-label>
      <input matInput type="number" [formControl]="purchaseValueFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="purchaseValueFormControl.hasError('required')">
        Valor de Compra é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Valor de Venda</mat-label>
      <input autocomplete="off" type="number" matInput [formControl]="saleValueFormControl"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="saleValueFormControl.hasError('required')">
        Valor de Venda é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" [formControl]="quantityFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="quantityFormControl.hasError('required')">
        Quantidade é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fornecedor</mat-label>
      <mat-select multiple [formControl]="providerFormControl" [ngModel]="selectedProviders"
        [errorStateMatcher]="matcher">
        <mat-option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">
          {{fornecedor.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="providerFormControl.hasError('required')">
        Fornecedor é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <button *ngIf="openPost" class="submit" type="submit" (click)="post()">Adicionar</button>
    <button *ngIf="openEdit" class="submit" type="submit" (click)="update()">Alterar</button>
  </form>

  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'produtos'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter mat-table [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Nome"> {{element.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="saleValue">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Valor Venda </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Valor Venda"> {{element.saleValue}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="purchaseValue">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Valor Compra </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Valor Compra"> {{element.purchaseValue}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Quantidade </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Quantidade"> {{element.quantity}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openFormUpdate(element)">create</span>
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>