<app-header [logado]="isLogged"></app-header>
<app-unauth *ngIf="!isLogged"></app-unauth>
<div *ngIf="isLogged" class="mat-elevation-z8 content">
  <div class="post">
    <button mat-button (click)="openPost = !openPost">Novo Status</button>
  </div>
  <form *ngIf="openPost || openEdit" class="form">
    <mat-form-field>
      <mat-label>Título do Status</mat-label>
      <input matInput [formControl]="titleFormControl" [errorStateMatcher]="matcher">
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Título é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <button *ngIf="openPost" class="submit" type="submit" (click)="post()">Adicionar</button>
    <button *ngIf="openEdit" class="submit" type="submit" (click)="update()">Alterar</button>
  </form>

  <div class="export">
    <button mat-button (click)="exporter.exportTable('xls', {fileName: 'status'})">Gerar XLS</button>
  </div>
  <mat-table matTableExporter mat-table [dataSource]="dataSource" #exporter="matTableExporter">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Id"> {{element.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="title">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Status"> {{element.title}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action">
      <mat-header-cell mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Ações">
        <span class="material-icons" (click)="openFormUpdate(element)">create</span>
        <span class="material-icons" (click)="openDialog(element)">delete</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>