/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~@angular/material/prebuilt-themes/indigo-pink.css'; 

app-header {
  height: 10%;
  width: 100%;
}

.content {
  padding: 20px;
  .post {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    button {
      background: #ff0000;
      color: #FFFFFF;
      border-radius: 10px;
    }
  }
  .export {
    display: flex;
    justify-content: flex-end;
    button {
      background: #62ff00;
      border-radius: 10px;
    }
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    mat-form-field {
      width: 80%;
    }
    a {
      margin-bottom: 20px;
    }
    .submit {
      margin: 10px;
      background-color: #044404;
      color: #FFFFFF;
      border: none;
      min-height: 30px;
      border-radius: 10px;
      min-width: 100px;
      padding: 10px;
    }
    .cancel {
      margin: 10px;
      background-color: #ff0000;
      color: #FFFFFF;
      border: none;
      min-height: 30px;
      border-radius: 10px;
      min-width: 100px;
      padding: 10px;
    }
  }
  @media screen and (max-width: 960px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
    .mat-table caption {
      font-size: 1em;
    }
    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }
}
